{:deps {org.clojure/clojure {:mvn/version "1.10.0-RC5"}
        ring {:mvn/version "1.7.0-RC2"}
        hiccup {:mvn/version "1.0.5"}
        compojure {:mvn/version "1.6.1"}
        net.mikera/imagez {:mvn/version "0.12.0"}
        fogus/ring-edn {:mvn/version "0.3.0"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}

 :paths ["src" "test" "resources"]

 :aliases {:run {:main-opts ["-m" "beadmania.server"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :uberjar {:extra-deps {pack/pack.alpha {:git/url "git@github.com:juxt/pack.alpha.git"
                                                   :sha "595388c5b909759445a92a19192df50e427aa9a5"}}
                     :main-opts ["-m" "mach.pack.alpha.one-jar" "-d" "deps.edn" "beadmania.jar"]}}}
