{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        ring {:mvn/version "1.7.0-RC2"}
        hiccup {:mvn/version "1.0.5"}
        reacl {:mvn/version "2.0.5"}
        compojure {:mvn/version "1.6.1"}
        cljs-ajax {:mvn/version "0.7.5"}
        net.mikera/imagez {:mvn/version "0.12.0"}
        fogus/ring-edn {:mvn/version "0.3.0"}}

 :paths ["src" "src/clj" "src/cljs" "test" "resources"]

 :aliases {:fig {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :uberjar {:extra-deps {pack/pack.alpha {:git/url "git@github.com:juxt/pack.alpha.git"
                                                   :sha "595388c5b909759445a92a19192df50e427aa9a5"}}
                     :main-opts ["-m" "mach.pack.alpha.one-jar" "-d" "deps.edn" "beadmania.jar"]}}}
